.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
}

.popup > * {
    background-color: var(--main-background);
    padding: 20px;
    border-radius: 8px;
}

.popup .inputBox {
    position: relative;
    min-width: var(--input-width);
    margin-top: 10px;
}